body {
    margin: 0;
    padding: 0;
    /* Make footer with CSS Grid and use proportional units */
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer {
    background-color: #d18c92;
    color: #fff;
    overflow: hidden;
    background-color: #d18c92;
    padding: 10px;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

/* Style Header */
header {
    overflow: hidden;
    background-color: #d18c92;
    padding: 10px;
    position: sticky;
    top: 0;
}

/* Style Name Only */
.FullName {
    font-family: fantasy;
    font-weight: bold;
    float: left;
    line-height: 50px;
    color: white;
}

nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;

}

/* Style navigation */
.navigation a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

/* Change color of links on hover */
.navigation a:hover {
    background-color: #eebbc6;
    color: white;
}

/* Add color to active link */
.navigation a.active {
    background-color: rgb(154, 55, 76);
    color: white;
}

body {
    background: url("https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100%;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;

}

.quote {
    color: rgb(154, 55, 76);
    text-align: center;
    word-spacing: 3px;
    padding: 80px;
    font-family: fantasy;
    font-weight: 800;
    font-size: larger;
}

section {
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
}


.AboutPreface {
    color: rgb(154, 55, 76);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ImageOne {
    width: 300px;
    float: left;
    padding-right: 20px;
}

.ImageTwo {
    width: 170px;
    float: right;
    padding-left: 20px;
}

.ImageThree {
    width: 200px;
    float: left;
    padding-right: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.allsections {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: #eee;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #e4b5b9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    margin-top: 5px;
}

.submit {
    text-decoration: none;
    padding: 0px;
}

a {
    padding: 30px;
}

.fbicon {
    width: 50px;
    padding: 10px;
}

.igicon {
    width: 50px;
    padding: 10px;
}

.twiticon {
    width: 50px;
    height: 50px;
    padding: 10px;
}


.fbicon:hover {
    background-color: #eebbc6;
    color: white; 
    border-radius: 10px;
}

.igicon:hover {
    background-color: #eebbc6;
    color: white; 
    border-radius: 10px;
}

.twiticon:hover {
    background-color: #eebbc6;
    color: white; 
    border-radius: 10px;
}

/* Media Queries - not sure this is working right */

@media (max-width: 768px){
    .media_size{
        margin: 0 auto !important;
        padding: 0 !important;
}
}
@media (max-width: 1050px){
  .media_size{
      margin: 0 auto !important;
      padding: 0 !important;
}

}

@media (max-width: 320px){
  .media_size{
      margin: 0 auto !important;
      padding: 0 !important;
}
}
